{% extends "index.html" %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/post-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1> {{ post.title }}</h1>
              <h2 class="subheading">{{ post.subtitle }}</h2>
              <span class="meta">Posted by {{ post.author }}
                on {{ "{:%b %d, %Y %H:%M}".format(post.created_at) }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% if current_user.is_authenticated %}
      {% if post.author == current_user.username %}
    <div class="row">
      <form method="get" action="{{ url_for('edit_post', id=post.id) }}">
        <button class= "btn btn-warning" type="submit">Edit Article</button>
      </form>
      <form method="post" action="{{ url_for('delete_post', id=post.id) }}">
        <button class= "btn btn-danger" type="submit">Delete Article</button>
      </form>
    </div>
      {% endif %}
    {% endif %}

<br><br>
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.text }}
          </div>
        </div>
      </div>
    </article>

    <hr>

  {% endblock %}
