{% extends "index.html" %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Blog Flask</h1>
              <span class="subheading">A cool blog created using flask</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class=create-article>
        <li style="list-style-type: none;" class=""><a href="{{ url_for('create_articles') }}">
            <button class= "btn btn-warning" type="submit">Create Article</button></a>
        </li>
    </div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in posts %}
      <div class="post-preview">
        <a href="{{ url_for('detail_articles', pk=post.id) }}">
          <h2 class="post-title">
            {{ post.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ post.subtitle }}
          </h3>
        </a>
        <p class="post-meta">Posted by {{ post.author }}
          on {{ "{:%b %d, %Y %H:%M}".format(post.created_at) }}
        </p>
      </div>
      <hr>
      {% endfor %}
    </div>
  </div>
</div>

<hr>

{% endblock %}
